{% extends 'base.html.twig' %}

{% block title %}Hello FamilyController!{% endblock %}

{% block body %}
    Création d'une famille

    {{ form_start(creationForm) }}
        {{ form_widget(creationForm) }}
        <button type="submit">Envoyer</button>
    {{ form_end(creationForm) }}

{% endblock %}
